@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.verify-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.verify-number__inputs-container {
  display: flex;
  align-items: center;
  color: #333333;
}

.verify-number__error {
  display: none;
  color: #FF1100;
  font-size: 13px;
  margin-top: 4px;
}

.verify-number__error_active {
  display: block;
}

.verify-number__box {
  width: 25px;
  height: 32px;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  border-radius: 2px;
  background: #F0F0F0;
  margin: 0 2px;
}

.verify-number__input {
  position: relative;
  width: 25px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 2px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: default;
}

.verify-number__input:focus {
  outline: none;
  border: 1px solid #858585;
}

.verify-number__input:hover {
  border-color: #C2C2C2;
}

.verify-number__input_error {
  border-color: #FF1100;
}

.verify-number__input_error .verify-number__input:hover {
  border-color: #FF1100;
}
